[submodule "packages/flutter_bbcode_editor"]
	path = packages/flutter_bbcode_editor
	url = https://github.com/realth000/flutter_bbcode_editor
[submodule "packages/flutter_avif"]
	path = packages/flutter_avif
	url = https://github.com/realth000/flutter_avif.git
[submodule "packages/dart_bbcode_parser"]
	path = packages/dart_bbcode_parser
	url = https://github.com/realth000/dart_bbcode_parser.git
[submodule "packages/dart_bbcode_web_colors"]
	path = packages/dart_bbcode_web_colors
	url = https://github.com/realth000/dart_bbcode_web_colors.git
[submodule "packages/rhttp"]
	path = packages/rhttp
	url = https://github.com/realth000/rhttp.git
